.nav {
    background-color: rgb(23, 55, 97);
    border-bottom: white;
}

.text {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 50px;
    font-size: 22px;
    font-weight: 100;
}

.separator {
    margin:0;
    padding:0;
    background-color: white;
}

a {
    text-decoration: none;
    color: white;
}
