<app-navbar></app-navbar>
<div class="row col-12 container-fluid">
  <div class="col-3">
    <app-profile [participante]="participante" [empresa]="empresa" [saldo]="saldo"></app-profile>
  </div>
  <div class="col-9">
    <br>
    <h1> Olá, {{participante?.nome}}. </h1>
    <h3> Aqui estão seus registros de movimentação:</h3>
    <br>
    <div>
      <hr>
      <div class="row align-center">
        <div class="col-2">
          <span>
            Saldo Atual:
           <br>
           <p class="status-saldo">{{saldo?.saldoAtual}}</p>
          </span>
        </div>
        <div class="col-2">
          <span>
            Saldo disponível retirada:
            <br> 
            <p class="status-saldo">{{saldo?.saldoDisponivelRetirada}}</p>
          </span>
        </div>
        <div class="col-2">
          <span>
            Saldo Portabilidade:
            <br> 
            <p class="status-saldo2">{{participante?.saldoPortabilidade}}</p>
          </span> 
        </div>
        <div class="col-3">
          <span>
            Saldo Contribuições normais:
            <br> 
            <p class="status-saldo2">{{saldo?.saldoContribuicoesNormais}}</p>
          </span>
        </div>
        <div class="col-3">
          <span>
            Saldo Contribuições adicionais:
            <br> 
            <p class="status-saldo2">{{saldo?.saldoContribuicoesAdicionais}}</p>
          </span>
        </div>
      </div>
      <hr>
      <br>
    </div>
    <h4>Essas são suas últimas contribuições:</h4>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Data</th>
            <th scope="col">Tipo</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contribuicao of contribuicoes">
          <td>{{contribuicao.data}}</td>
          <td>{{contribuicao.tipo}}</td>
          <td>{{contribuicao.valor}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>