<app-navbar></app-navbar>
<div class="row col-12 container-fluid">
  <div class="col-3">
    <app-profile></app-profile>
  </div>
  <div class="col-9">
    <br>
    <h1> Olá, Roberta. </h1>
    <h3> Aqui estão seus registros de movimentação:</h3>
    <br>
    <div>
      <hr>
      <div class="row align-center">
        <div class="col-2">
          <span>
            Saldo Atual:
           <br>
           <p class="status-saldo">15.000,00</p>
          </span>
        </div>
        <div class="col-2">
          <span>
            Saldo disponível retirada:
            <br> 
            <p class="status-saldo">15.000,00</p>
          </span>
        </div>
        <div class="col-2">
          <span>
            Saldo Portabilidade:
            <br> 
            <p class="status-saldo2">5.000,00</p>
          </span> 
        </div>
        <div class="col-3">
          <span>
            Saldo Contribuições normais:
            <br> 
            <p class="status-saldo2">9.000,00</p>
          </span>
        </div>
        <div class="col-3">
          <span>
            Saldo Contribuições adicionais:
            <br> 
            <p class="status-saldo2">1.000,00</p>
          </span>
        </div>
      </div>
      <hr>
      <br>
    </div>
    <h4> Essas são suas últimas contribuições:</h4>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Tipo</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>13/11/2018</td>
            <td>Normal</td>
            <td>100,00</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>12/11/2018</td>
            <td>Normal</td>
            <td>100,00</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>11/11/2018</td>
            <td>Adicional</td>
            <td>80,00</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>