<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalResgate" id="modalResgate" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-text">
      <div class="modal-header">
        <h5 class="modal-title">Resgate</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <label for="tipoResgate">Selecione o Tipo de Resgate</label>
            <select class="custom-select" id="tipoResgate" [(ngModel)]="resgate.tipoResgate">
              <option value="0">Resgate Parcial</option>
              <option value="1">Resgate Total</option>
            </select> 
          </div>
          <div class="col-6">
            <label for="tipoResgate">Selecione o Tipo de saldo a ser resgatado </label>
            <select class="custom-select" id="tipoSaldoResgate" [(ngModel)]="resgate.tipoSaldoResgate" (change)="atualizaSaldoDisponivelRetirada()"> 
              <option value="0">Resgate Saldo Portabilidade</option>
              <option value="1">Resgate Saldo Contribuições Normais</option>
              <option value="2">Resgate Saldo Contribuições Adicionais</option>
              <option value="3">Resgate Total</option>
            </select>
          </div>  
        </div>
        <div *ngIf="resgate.tipoResgate != '' && resgate.tipoResgate == 0">
          <div class="row">
            <div class="col-12">
              <label for="valorResgateParcial">Valor Parcial a ser Retirado</label>
              <input type="number" class="form-control" id="valorResgateParcial" [(ngModel)]="resgate.valorResgateParcial" size="60" required>
            </div>
          </div>
        </div>
        <label for="opcaoPagamentoParcelado">Deseja que o pagamento do resgate seja parcelado?</label>
        <select class="custom-select" id="opcaoPagamentoParcelado" [(ngModel)]="resgate.opcaoPagamentoParcelado">
          <option value="0">Sim</option>
          <option value="1">Não</option>
        </select> 
        <br>
        <div *ngIf="resgate.opcaoPagamentoParcelado == 0">
          <div class="row">
            <div class="col-6">
                <label for="quantidadeParcelaResgate">Quantidade de Parcelas Pagamento Resgate</label>
                <input type="number" class="form-control" id="quantidadeParcelaResgate" size="60"  
                  [(ngModel)]="resgate.quantidadeParcelaResgate" (change)="calculaValorParcela()" required>
              </div>
              <div class="col-6">
                <label for="valorParcelaResgate">Valor Parcelas</label>
                <input type="number" class="form-control" id="valorParcelaResgate" [(ngModel)]="resgate.valorParcelaResgate" readonly>
            </div>
          </div>
        </div>
        <div *ngIf="resgate.tipoResgate != '' && resgate.tipoResgate == 0">
          <br>
          <div class="card">
            <div class="card-body">
              <br>
              <div class="card">
                <div class="card-body">
                <div class="col-12">
                  <a href="../../../../assets/download/Formulário Resgate Parcial.pdf" download="formularioResgateParcial">
                    <img src="../../../../assets/img/download.png" alt="download" class="download">
                    <p>Download formulário fictício para solicitação de resgate parcial.</p>
                  </a>
                </div>
                <hr>
                <div class="form-group">
                  <label for="formulario"><b>Enviar formulário de resgate parcial preenchido.</b></label>
                  <input type="file" class="form-control-file" id="formulario" (change)="uploadFormulario($event.target.files)">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <b>Valor disponível para retirada:</b> <br><span class="total"><b>{{saldoDisponivelRetirada | currency:'BRL':'symbol':'0.2-2':'pt'}}</b></span><br>
          <b>Data liberação:</b> <br><span class="total"><b>{{resgate?.dataLiberacaoResgate | date: 'dd/MM/yyyy'}}</b></span>
        </div>
      </div>
      <div class="btn">
        <button type="button" class="btn btn-outline-primary" (click)="realizarResgate()">Solicitar Resgate</button>
      </div>
      <div>
        <hr>
        <p class="obs">
          *Em caso de resgate parcial deverá ser encaminhado o formulário, disponível para download, preenchido.
        </p>
      </div>
    </div>
  </div>
</div>
