.modal-text {
    color: black;
}

.obs {
    font-size: 14px;
    text-align: end;
    padding-right: 5px;
}

.total {
    color: green;
    font-size: 20px;
}

.btn {
    text-align: center;
}

.download {
    width: 60px;
    height: 65px;
    text-align: center;
}

.download, p {
    text-align: center;
}