<div class="back-menu">
  <div class="wrapper">
      <nav id="sidebar">
          <div class="sidebar-header">
              <div>
                <img src="../../assets/img/usuario.png"  class="usuario" alt="Usuário foto">
              </div>
          </div>
          <br>
          <ul class="list-unstyled components menu-area">
          <br>
              <p class="usuario-name">{{participante?.nome}} {{participante?.sobrenome}}</p>
              <span>Situação: <p class="status">{{participante?.situacaoParticipante}}</p></span>
              <hr>
              <li class="active menu">
                  <span>Empresa: <br> <p class="status">{{empresa?.razaoSocial}}</p></span>
                  <hr>
                  <span>Carência:<br> <p class="status">{{participante?.carencia}}</p></span>
                  <hr>
                  <span>Data aposentadoria: <br> <p class="status">{{participante?.dataAposentadoria}}</p></span>
                  <hr>
                  <div class="row btn">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalContribuicaoAdicional">Contribuição Adicional</button>
                  </div>
                  <div class="row btn">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalResgate">Resgate do Saldo disponível</button>
                  </div>
              </li>
          </ul>
      </nav>
  </div>
  <app-contribuicao-adicional [participante]="participante" [saldo]="saldo"></app-contribuicao-adicional>
  <app-resgate [participante]="participante" [saldo]="saldo"></app-resgate>
</div>
