<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalResgate" id="modalResgate" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-text">
      <div class="modal-header">
        <h5 class="modal-title"> Resgate</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="tipoResgate">Selecione o Tipo de Resgate</label>
        <select class="custom-select" id="tipoResgate" formControlName="empresa">
          <option selected>Selecione o tipo de resgate...</option>
          <option value="0">Resgate Parcial</option>
          <option value="1">Resgate total</option>
        </select> 
        <label for="tipoResgate">Selecione o Tipo de saldo a ser resgatado </label>
        <p class="alerts" *ngIf="isFieldInvalid('empresa')">Informe a empresa vinculada.</p> 
        <select class="custom-select" id="tipoSaldoResgate" formControlName="empresa">
          <option selected>Selecione o tipo de saldo para o resgate...</option>
          <option value="0"> Resgate saldo portabilidade</option>
          <option value="1">Resgate saldo contribuições normais</option>
          <option value="1">Resgate saldo contribuições adicionais</option>
        </select>
        <br><br>
        <div class="card">
          <div class="card-body">
            Valor disponível para retirada: <br><span class="total">15.000,00</span>
          </div>
        </div>
        <form>
          <div class="form-group" *ngIf="tipoResgate.values == 0">
            <label for="enviarFormulario">Enviar formulário para resgate parcial</label>
            <input type="file" class="form-control-file" id="enviarFormulario">
          </div>
        </form>
        <div class="btn">
          <button type="button" class="btn btn-outline-primary">Solicitar Resgate</button>
        </div>
      </div>
      <div>
        <hr>
        <p>
          *Em caso de resgate total do saldo de contribuição normal o plano será cancelado automaticamente.
        </p>
      </div>
    </div>
  </div>
</div>