<div class="modal fade" id="modalContribuicaoAdicional" tabindex="-1" role="dialog" aria-labelledby="modalContribuicaoAdicional" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title modal-text" id="modalContribuicaoAdicional">Contribuição</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body modal-text">
          <div class="form-group">
            <label for="tipoContribuicao">Tipo de Contribuição</label>
            <select class="custom-select" id="tipo" [(ngModel)]="contribuicao.tipo" required>
              <option value="0">Contribuição normal (Mensal)</option>
              <option value="1">Contribuição adicional</option>
            </select> 
            <label for="valor">Valor da Contribuição:</label>
            <input type="number" [(ngModel)]="contribuicao.valor" class="form-control" id="valor" mask="#00.000.000,00" required>
          </div>
          <br>
          <button type="button" class="btn btn-success" (click)="realizarContribuicao()" data-dismiss="modal">Contribuir</button>
        </div>
      </div>
    </div>
</div>
