.hoverzoom {
	position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.hoverzoom > img {
    border-radius: 2px;
	-webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}
.hoverzoom:hover > img {
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
}

.text-intro {
    font-weight: 100px;
    letter-spacing: 0.015em;
    color: #FFFF;
    text-shadow: 2px 2px #292929;
}

.intro {
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    text-align: center;
    color: #FFFF;
    font-size: 20px;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #fff;
    text-transform: uppercase;
    letter-spacing: 0.015em;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.button-align {
    text-align: center;
}

.button:hover {
    color: #ffffff;
    border-color: #e2e7e1;
}

h1 {
    text-transform: uppercase;
    font-size: 50px;
}

.custom-select {
    font-size: 15px;
    position: relative;
}

.bttn {
    color: #292929;
    background-color:  rgb(23, 55, 97);
}

.btnConsulta {
   color: white;
   border-color: white;
}

.alinhamento {
    margin-top: 15px;
}

.alinhamento2 {
    margin-left: 3px;
}