<body>
  <div class="hoverzoom">
    <img class="img-fluid" src="../../assets/img/back.png">
    <div class="intro">
      <div class="text-intro">
        <h1>Previdência Complementar</h1>
        <h4>Selecione os dados para a sua busca.</h4>
        <br><br>
      </div>
      <div class="col-md-6 offset-md-3">
        <label for="participante">Participante:</label>
        <div class="input-group-append">
          <input type="text" class="form-control" id="inputParticipante" [(ngModel)]="nomeParticipanteFiltro" (keyup.enter)="filtraParticipante()"
            placeholder="Digite o nome do participante e/ou clique na busca.">
          <button type="button" class="btn btn-outline-secondary btnConsulta alinhamento2" data-toggle="modal" data-target="#modalBusca"  (click)="filtraParticipante()">Buscar Participante</button>
        </div>
      </div>
      <button type="button" (click)="irParaSaldo()" class="btn btn-outline-secondary btnConsulta alinhamento">
        Consultar Saldo
      </button>
      <br><br><br>
      <div>
        <label for="participante">Para realizar um novo cadastro acesse:</label>
        <div>
         <a href="/participante" class="button">Cadastro de participante</a>
        </div>
      </div>
      <br>
    </div>
  </div>
  <app-pesquisa-participante (respostaSelecao)="selecionaParticipante($event)" [participantes]="participantesFiltrados"></app-pesquisa-participante>
</body>

